.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}

.weather-item-container {
  display: flex;
  justify-content: space-between;
}

.weather-item-container:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.weather-item-inner-container {
  padding-left: 7px;
  padding-right: 7px;
}

.date-heading {
  margin-top: 10px;
  margin-bottom: 3px;
}

.weather-description {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 14px;
}

.temp-and-img-container {
  display: flex;
  justify-content: flex-end;
}

.temp-min-max-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp-min-max-text {
  margin: 1px;
}

.weather-img {
  padding: 12px;
  max-width: 40px;
  max-height: 40px;
}